body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-image: linear-gradient(120deg, rgb(19, 26, 53), rgb(244, 172, 63)); 
}

.App {
  color: linear-gradient(120deg, rgb(19, 26, 53), rgb(244, 172, 63)); 
  min-height: 400px; 
  min-width: 400px;
  border-radius: 20px;
}

#toDoForm {
  background-color: grey;
  min-height: 400px;
  min-width: 400px;
  margin: 20px auto;
  border-radius: 10px;
}

#toDoForm input {
  background-color:  rgb(244, 172, 63);
  border: 1px solid rgb(19, 26, 53);
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 5px;
  font-size: large;
}
#toDoForm input:focus {
  outline: none;
}

#toDoForm input::placeholder {
  color: grey;
}

.App-header {
  background-color: rgb(19, 26, 53);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#submitBtn {
  background-color: #282c34;
  border: 1px solid rgb(244, 172, 63);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  padding: 5px 10px;
  outline: none;
  color: rgb(244, 172, 63);
  font-size: large;
  cursor: pointer;
}
#submitBtn:hover {
  background-color: rgb(244, 172, 63);
  border: 1px solid rgb(19, 26, 53);
  color: rgb(19, 26, 53);
}

#hr1 {
  border-radius: 50%;
  width: 100%;
  color: 2px solid rgb(244, 172, 63);
}

#hr2 {
  border-radius: 50%;
  width: 100%;
  color: 2px solid rgb(244, 172, 63);
}